* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg,rgba(70, 17, 17, 1), rgba(15, 2, 44, 1) );
    font-family: Arial, sans-serif;
    color: white;
}

.heading {
    text-align: center;
    border: 2px solid rgb(70, 17, 17);
    width: 600px;
    padding: 25px;
    border-radius: 15px;
    margin: 20px auto;
    background: linear-gradient(90deg, rgba(15, 2, 44, 1), rgba(70, 17, 17, 1));
    font-size: 35px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(198, 12, 12, 0.5);
    transition: box-shadow 0.5s ease;
}

.heading:hover {
    box-shadow: 0 0 20px rgba(0, 153, 255, 0.8);
}

fieldset {
    border: 2px solid rgb(70, 17, 17);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 600px;
    background: linear-gradient(90deg, rgba(15, 2, 44, 1), rgba(70, 17, 17, 1));
    box-shadow: 0 0 10px rgba(198, 12, 12, 0.5);
    transition: box-shadow 0.5s ease;
}

fieldset:hover {
    box-shadow: 0 0 20px rgba(0, 153, 255, 0.8);
}

legend {
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 5px red;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 15px;
    padding: 10px 20px;
}

td {
    padding: 7px;
    vertical-align: top;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"],
input[type="file"],
select,
textarea {
    width: 370px;
    padding: 8px;
    border: 3px solid #000000;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

label {
    font-weight: 500;
    color: white;
    text-shadow: 0 0 5px rgb(208, 77, 77);
}

button[type="submit"] {
    background-color: rgba(8, 1, 1, 0.6);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(9, 168, 160, 0.8);
}

button[type="submit"]:hover {
    background-color: rgba(20, 146, 152, 0.7);
}

p {
    font-size: 12px;
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(0, 255, 17, 0.25);
    display: none;
}

input:focus + p {
    display: block;
}

.list_pwd_valid {
    display: none;
    margin-left: 20px;
    font-size: 12px;
}

#password:focus ~ ul .list_pwd_valid {
    display: list-item;
}

#password:valid {
    border: 3px solid limegreen;
}

#password:invalid {
    border: 3px solid red;
}

#email:valid {
    border: 5px solid limegreen;
}

#email:invalid:not(:placeholder-shown) {
    border: 5px solid red;
}
