@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
    color: #ffffff;
    padding: 30px;
}

h1 {
    text-align: center;
    font-size: 2.8rem;
    color: #e50914;
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    border-left: 6px solid #e50914;
    padding-left: 12px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #f5f5f5;
}

p {
    margin-bottom: 25px;
    color: #cccccc;
    background-color: #141414;
    
}

audio {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50px;
    box-shadow: 5px 10px 20px rgba(89, 35, 35, 0.9);
}

img {
    border: 2px solid #e50914;
    box-shadow: 10px 20px 40px rgba(89, 35, 35, 0.9);
    margin: 15px 0;
    border-radius: 12px;
    transition: transform 0.4s ease;
}


video {
    display: flex;
    padding: 10px;
    margin: 15px 0 25px;
    border-radius: 12px;
    border: 2px solid #e50914;
    box-shadow: 10px 20px 40px rgba(89, 35, 35, 0.9);
    
}

.description {
    margin-bottom: 25px;
    color: #cccccc;
    background-color: #141414;
    border-left: 6px solid #e50914;
    border-radius: 7px;
}